        body {
            background-color: #282c35;
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        form {
            background-color: #394049;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
        }

        label,
        button {
            display: block;
            margin: 10px 0;
            color: #fff;
            transition: color 0.3s ease;
        }

        input {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: #48505a;
            color: #fff;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        button {
            background-color: #61dafb;
            color: #282c35;
            padding: 12px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        button:hover {
            background-color: #3e8ad1;
        }

        h1 {
            color: #61dafb;
            transition: color 0.3s ease;
        }

        .player-columns {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            overflow: auto;
        }

        .player-column {
            flex: 48%;
            border: 1px solid #61dafb;
            padding: 20px;
            margin-bottom: 30px;
            background-color: #394049;
            border-radius: 12px;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .player-column:first-child {
            margin-right: 20px;
        }

        .player-column:last-child {
            margin-left: 20px;
        }

        .player-column:hover {
            background-color: #48505a;
        }

        .player-column:hover h2 {
            color: #61dafb;
        }

        .player-column div {
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 2px solid #61dafb;

        }


        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 10px;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


        .comparison-form {
            margin-top: 20px;
            text-align: center;
        }

        .comparison-form label {
            display: inline-block;
            margin-right: 10px;
            color: #61dafb;
        }

        .comparison-form select {
            width: 215px;
            padding: 8px;
            border: 1px solid #61dafb;
            border-radius: 4px;
            background-color: #394049;
            color: #fff;
        }

        .compare-button {
            background-color: #61dafb;
            color: #282c35;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-size: 16px;
            font-weight: bold;
        }

        .compare-button:hover {
            background-color: #3e8ad1;
        }

        .comparison-result {
            margin-top: 20px;
            padding: 20px;
            background-color: #394049;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #61dafb;
            font-size: 18px;
            text-align: center;
        }

        h1 {
            color: #61dafb;
            transition: color 0.3s ease;
            margin-left: 10px;
            margin-top: 10px;
            text-align: center;
        }

        .custom-number-input-container {
            display: flex;
            align-items: center;
        }

        .custom-number-input {
            width: 50px;
            padding: 5px;
            border: 1px solid #61dafb;
            border-radius: 4px;
            color: #fff;
            background-color: #394049;
            margin-right: 10px;
            font-size: 16px;
            text-align: center;
        }

        .custom-number-input::-webkit-inner-spin-button,
        .custom-number-input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .custom-number-input:focus {
            outline: none;
            border-color: #61dafb;
        }

        .loader-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: none;
            align-items: center;
            justify-content: center;
            padding-top: 40%;
            z-index: 999;
        }

        .loader {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #3498db;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
        }


        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .match-details {
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(97, 218, 251, 0.7);

            background-color: #394049;
            margin-top: 20px;

        }

        .pagination-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;

        }

        .pagination-container button {
            margin: 0 5px;

        }

        @keyframes fadeInLeft {
            from {
                opacity: 0;
                transform: translateX(-20px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes fadeInRight {
            from {
                opacity: 0;
                transform: translateX(20px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes fadeOutLeft {
            from {
                opacity: 1;
                transform: translateX(0);
            }

            to {
                opacity: 0;
                transform: translateX(-20px);
            }
        }

        @keyframes fadeOutRight {
            from {
                opacity: 1;
                transform: translateX(0);
            }

            to {
                opacity: 0;
                transform: translateX(20px);
            }
        }

        .chart {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }

        .semi-circle {
            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #f0f0f0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin-top: 20px;

        }

        .fill {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
        }

        .fill-player1 {
            background-color: #61dafb;

        }

        .fill-player2 {
            background-color: #ff6347;

        }


        .player-name {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-size: 24px;

            font-weight: bold;
            text-transform: uppercase;

        }

        .player1-name {
            left: -120px;

            color: #61dafb;

        }

        .player2-name {
            right: -120px;

            color: #ff6347;

        }


        .legend {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .legend-item {
            margin: 0 20px;
            font-size: 18px;

            font-weight: bold;
        }

        .player1-legend {
            color: #61dafb;

        }

        .player2-legend {
            color: #ff6347;

        }


        .comparison-header {
            font-size: 30px;

            margin-bottom: 20px;
            color: #fff;

        }